In [2]:
import pandas as pd

In [3]:
ledwich_df = pd.read_csv('./sources/ledwich_zaitsev.csv')
ledwich_df.head()

,CHANNEL_TITLE,TAGS,CHANNEL_ID,LR,RELEVANCE,REVIEWER_LR,REVIEWER_TAGS,REVIEWER_MAIN_CHANNEL_ID,REVIEWER_RELEVANCE,REVIEWER_CODE,UPDATED,PUBLIC_REVIEWER_NOTES,PUBLIC_CREATOR_NOTES
0,Brave,NaN,UCFNTTISby1c_H-rm5Ww5rZg,C,0.0,C,NaN,NaN,0.0,mar,2021-12-22T01:00:52.5691836Z,NaN,NaN
1,GBNews,AntiSJW|Mainstream News|PartisanRight,UC0vn8ISa4LKMunLbzaXLnOQ,R,1.0,R,AntiSJW|Mainstream News|PartisanRight,NaN,1.0,mar,2021-10-25T21:17:49.7200458Z,NaN,NaN
2,The Black Conservative Preacher,AntiSJW|PartisanRight|QAnon,UC_QYq3wFd46rcaoKOvPHFgA,R,1.0,R,PartisanRight|QAnon|AntiSJW,NaN,1.0,mar,2021-06-08T01:27:45.4527338Z,This is the channel that had the senator who l...,NaN
3,Energy and Commerce Committee,StateFunded,UCCbD3bkHRcwiBsaL1lWE_QQ,C,1.0,C,StateFunded,NaN,1.0,mar,2021-03-26T02:15:09.3585105Z,NaN,NaN
4,That Star Wars Girl,AntiSJW,UCRWsFMLzGGJKLnAXJ9U93_A,R,0.8,R,AntiSJW,NaN,0.8,mar,2021-03-16T01:24:18.9299734Z,NaN,NaN

In [4]:
# Must contain 'AntiTheist' as a label from the TAGS column, NOT the TAGS_REVIEWER column 
#   (that is before conslidating labels via their inter-coder agreement rule)
# Also cannot be a BitChute channel 
#   (in the bottom of the paper they mention that some channels migrate to other platform, such as BitChute)
ledwich_df['is_antitheist'] = ledwich_df.apply(
    lambda row: 'AntiTheist' in str(row['TAGS']) and str(row['CHANNEL_ID'])[:2]=='UC',
    axis = 1
)
ledwich_df = ledwich_df[ledwich_df['is_antitheist']==True]
ledwich_df.head()

,CHANNEL_TITLE,TAGS,CHANNEL_ID,LR,RELEVANCE,REVIEWER_LR,REVIEWER_TAGS,REVIEWER_MAIN_CHANNEL_ID,REVIEWER_RELEVANCE,REVIEWER_CODE,UPDATED,PUBLIC_REVIEWER_NOTES,PUBLIC_CREATOR_NOTES,is_antitheist
975,Amazing Atheist,AntiSJW|AntiTheist,UCjNxszyFPasDdRoD9J6X-sw,L,1.00,L,AntiTheist|AntiSJW,NaN,1.0,ann,2020-11-13T00:34:14.5550854Z,NaN,NaN,True
1017,Thunderf00t,AntiSJW|AntiTheist,UCmb8hO2ilV9vRa8cilis88A,C,0.66,C,AntiSJW|AntiTheist,NaN,1.0,sam,2020-11-03T02:42:40.2813859Z,NaN,NaN,True
1018,Thunderf00t,AntiSJW|AntiTheist,UCmb8hO2ilV9vRa8cilis88A,C,0.66,C,AntiSJW|AntiTheist,NaN,0.7,scl,2020-11-03T02:38:48.3892593Z,NaN,NaN,True
1082,JaclynGlenn,AntiSJW|AntiTheist,UCravYcv6C0CopL2ukVzhzNw,L,1.00,C,AntiSJW,NaN,1.0,mar,2020-10-31T07:57:12.9994114Z,NaN,NaN,True
1086,JaclynGlenn,AntiSJW|AntiTheist,UCravYcv6C0CopL2ukVzhzNw,L,1.00,C,AntiTheist|AntiSJW,NaN,1.0,scl,2020-10-31T01:23:03.6120362Z,NaN,NaN,True

In [5]:
ledwich_df = ledwich_df.loc[:][['CHANNEL_TITLE', 'CHANNEL_ID']]
ledwich_df

                  CHANNEL_TITLE                CHANNEL_ID
975             Amazing Atheist  UCjNxszyFPasDdRoD9J6X-sw
1017                Thunderf00t  UCmb8hO2ilV9vRa8cilis88A
1018                Thunderf00t  UCmb8hO2ilV9vRa8cilis88A
1082                JaclynGlenn  UCravYcv6C0CopL2ukVzhzNw
1086                JaclynGlenn  UCravYcv6C0CopL2ukVzhzNw
...                         ...                       ...
11416  Atheism-is-Unstoppable-2  UCXyLkBdJzh3SfFw6GvHkXKw
11418  Atheism-is-Unstoppable-2  UCXyLkBdJzh3SfFw6GvHkXKw
11422  Atheism-is-Unstoppable-2  UCXyLkBdJzh3SfFw6GvHkXKw
11551              Secular Talk  UCldfgbzNILYZA4dmDt4Cd6A
11552              Secular Talk  UCldfgbzNILYZA4dmDt4Cd6A

[398 rows x 2 columns]

In [6]:
ledwich_df = ledwich_df.rename(columns={'CHANNEL_TITLE':'Name', 'CHANNEL_ID':'Id'})
ledwich_df.head()

                 Name                        Id
975   Amazing Atheist  UCjNxszyFPasDdRoD9J6X-sw
1017      Thunderf00t  UCmb8hO2ilV9vRa8cilis88A
1018      Thunderf00t  UCmb8hO2ilV9vRa8cilis88A
1082      JaclynGlenn  UCravYcv6C0CopL2ukVzhzNw
1086      JaclynGlenn  UCravYcv6C0CopL2ukVzhzNw

In [7]:
ledwich_df['Category'] = ['Antitheist' for i in range(len(ledwich_df['Name']))]
ledwich_df.head()

                 Name                        Id    Category
975   Amazing Atheist  UCjNxszyFPasDdRoD9J6X-sw  Antitheist
1017      Thunderf00t  UCmb8hO2ilV9vRa8cilis88A  Antitheist
1018      Thunderf00t  UCmb8hO2ilV9vRa8cilis88A  Antitheist
1082      JaclynGlenn  UCravYcv6C0CopL2ukVzhzNw  Antitheist
1086      JaclynGlenn  UCravYcv6C0CopL2ukVzhzNw  Antitheist

In [8]:
ribeiro_df = pd.read_csv('./sources/ribeiro.csv')
ribeiro_df.head()

,Name,Category,Data Collection step,Id
0,DailyCallerVideo,Alt-lite,2,UCfDdlNLRVb1h3_7Xh-WhL3w
1,Liberty Machine News,Alt-lite,2,UCso6oQ3qy7z61Fr8b0WNBMw
2,AIU-Resurrection,Alt-lite,2,UCplXdu0g94UynzYCmO2zOjw
3,Tree Of Logic,Alt-lite,2,UCl3RCEtooHD5bhPCHJw3btA
4,DailyKenn,Alt-lite,2,UCbukZErY9SjdGTHabMzY7qg

In [9]:
ribeiro_df['Category'].unique()

array(['Alt-lite', 'Alt-right', 'Incel', 'Intellectual Dark Web', 'NONE',
       'MGTOW', 'MRA', 'PUA', 'PUA ', 'center', 'left', 'left-center',
       'right-center', 'right'], dtype=object)

In [10]:
# Fix error of 'PUA ' --> 'PUA'
ribeiro_df = ribeiro_df.replace('PUA ', 'PUA')

In [11]:
ribeiro_df['Category'].unique()

array(['Alt-lite', 'Alt-right', 'Incel', 'Intellectual Dark Web', 'NONE',
       'MGTOW', 'MRA', 'PUA', 'center', 'left', 'left-center',
       'right-center', 'right'], dtype=object)

In [12]:
categories = ['Alt-lite', 'Alt-right', 'Incel', 'Intellectual Dark Web', 'MGTOW', 'MRA', 'PUA']
ribeiro_df = ribeiro_df[ribeiro_df['Category'].isin(categories)]
ribeiro_df.head()

,Name,Category,Data Collection step,Id
0,DailyCallerVideo,Alt-lite,2,UCfDdlNLRVb1h3_7Xh-WhL3w
1,Liberty Machine News,Alt-lite,2,UCso6oQ3qy7z61Fr8b0WNBMw
2,AIU-Resurrection,Alt-lite,2,UCplXdu0g94UynzYCmO2zOjw
3,Tree Of Logic,Alt-lite,2,UCl3RCEtooHD5bhPCHJw3btA
4,DailyKenn,Alt-lite,2,UCbukZErY9SjdGTHabMzY7qg

In [13]:
ribeiro_df.groupby(['Category']).agg('count')

                       Name  Data Collection step   Id
Category
Alt-lite                113                   113  113
Alt-right                88                    88   88
Incel                    42                    42   42
Intellectual Dark Web    89                    89   89
MGTOW                    80                    80   80
MRA                      33                    33   33
PUA                     124                   124  124

In [14]:
ribeiro_df = ribeiro_df[:][['Name','Id', 'Category']]
ribeiro_df.head()

                   Name                        Id  Category
0      DailyCallerVideo  UCfDdlNLRVb1h3_7Xh-WhL3w  Alt-lite
1  Liberty Machine News  UCso6oQ3qy7z61Fr8b0WNBMw  Alt-lite
2      AIU-Resurrection  UCplXdu0g94UynzYCmO2zOjw  Alt-lite
3         Tree Of Logic  UCl3RCEtooHD5bhPCHJw3btA  Alt-lite
4             DailyKenn  UCbukZErY9SjdGTHabMzY7qg  Alt-lite

Combine!

In [15]:
ledwich_df.head()

                 Name                        Id    Category
975   Amazing Atheist  UCjNxszyFPasDdRoD9J6X-sw  Antitheist
1017      Thunderf00t  UCmb8hO2ilV9vRa8cilis88A  Antitheist
1018      Thunderf00t  UCmb8hO2ilV9vRa8cilis88A  Antitheist
1082      JaclynGlenn  UCravYcv6C0CopL2ukVzhzNw  Antitheist
1086      JaclynGlenn  UCravYcv6C0CopL2ukVzhzNw  Antitheist

In [16]:
ribeiro_df.head()

                   Name                        Id  Category
0      DailyCallerVideo  UCfDdlNLRVb1h3_7Xh-WhL3w  Alt-lite
1  Liberty Machine News  UCso6oQ3qy7z61Fr8b0WNBMw  Alt-lite
2      AIU-Resurrection  UCplXdu0g94UynzYCmO2zOjw  Alt-lite
3         Tree Of Logic  UCl3RCEtooHD5bhPCHJw3btA  Alt-lite
4             DailyKenn  UCbukZErY9SjdGTHabMzY7qg  Alt-lite

In [17]:
combine_df = pd.concat([ledwich_df, ribeiro_df], ignore_index=True)
combine_df.head()

              Name                        Id    Category
0  Amazing Atheist  UCjNxszyFPasDdRoD9J6X-sw  Antitheist
1      Thunderf00t  UCmb8hO2ilV9vRa8cilis88A  Antitheist
2      Thunderf00t  UCmb8hO2ilV9vRa8cilis88A  Antitheist
3      JaclynGlenn  UCravYcv6C0CopL2ukVzhzNw  Antitheist
4      JaclynGlenn  UCravYcv6C0CopL2ukVzhzNw  Antitheist

In [18]:
# Drop duplicates (there are some duplicates in Ribeiro due to them listing each collection step's channels)
combine_df = combine_df.drop_duplicates()
combine_df.shape

(819, 3)

In [19]:
ledwich_df.shape

(398, 3)

In [20]:
ribeiro_df.shape

(569, 3)

In [21]:
from api import api_channel

In [22]:
channels = combine_df['Id']
channels

0      UCjNxszyFPasDdRoD9J6X-sw
1      UCmb8hO2ilV9vRa8cilis88A
3      UCravYcv6C0CopL2ukVzhzNw
5      UCYnwmslj2knI9iAiXM4UOgg
6      UCgGgkVyadk0TdxmVzYcAM-Q
                 ...
962    UCvF7Ll_WOgQWOw0KZJsVNXQ
963    UCi-ZsSk7G8z2G12KgTjKgZw
964    UCUVCYTauctWL_VgysXmgTaQ
965    UC16j6EppP0K85CzYMduNCqw
966    UCBmkZCMwh-OqGB5eU2W3QXg
Name: Id, Length: 819, dtype: object

In [23]:
# TODO: Place this in the api
subs = []
descriptions = []
available = []
for cid in channels:
    items = api_channel(cid)
    sub = None
    des = None
    if items and len(items)>0:
        item = items[0]
        if 'statistics' in item.keys():
            if 'subscriberCount' in item['statistics'].keys():
                sub = item['statistics']['subscriberCount']
        if 'snippet' in item.keys():
            if 'description' in item['snippet'].keys():
                des = item['snippet']['description']
        subs.append(sub)
        descriptions.append(des)
        available.append(True)
    else:
        subs.append(None)
        descriptions.append(None)
        available.append(False)

In [24]:
combine_df['Subscribers'] = subs
combine_df['Description'] = descriptions
combine_df['Available'] = available

In [25]:
combine_df.head()

,Name,Id,Category,Subscribers,Description,Available
0,Amazing Atheist,UCjNxszyFPasDdRoD9J6X-sw,Antitheist,966000,The Amazing Atheist is a professional ranter w...,True
1,Thunderf00t,UCmb8hO2ilV9vRa8cilis88A,Antitheist,1010000,The true beauty of a self-inquiring sentient u...,True
3,JaclynGlenn,UCravYcv6C0CopL2ukVzhzNw,Antitheist,813000,I'm on every social platform @jaclynglenn \n\n...,True
5,Desertphile,UCYnwmslj2knI9iAiXM4UOgg,Antitheist,10800,Gravity. GRAVITY!\n\nPsycho anti-social ravin...,True
6,Hannah and Jake,UCgGgkVyadk0TdxmVzYcAM-Q,Antitheist,153000,"Hannah and Jake sit and talk about everything,...",True

In [26]:
combine_df['Subscribers'] = combine_df['Subscribers'].fillna(-1)

In [27]:
combine_df['Subscribers'] = combine_df['Subscribers'].astype(int)

In [28]:
combine_df[combine_df['Subscribers']>10000].shape

(520, 6)

In [29]:
combine_df.shape

(819, 6)

In [30]:
combine_df[combine_df['Subscribers']>10000].groupby('Category').agg('count')

                       Name   Id  Subscribers  Description  Available
Category
Alt-lite                 73   73           73           73         73
Alt-right                20   20           20           20         20
Antitheist              234  234          234          234        234
Incel                     9    9            9            9          9
Intellectual Dark Web    61   61           61           61         61
MGTOW                    30   30           30           30         30
MRA                      12   12           12           12         12
PUA                      81   81           81           81         81

In [31]:
combine_df.to_csv('./channels.csv', index=False)