In [4]:
import pandas as pd
from googleapiclient.discovery import build

Generate the list of Alt-Right channel names identified and labeled by Ribeiro et al.

In [5]:
ain_df = pd.read_csv('./ribeiro_ain.csv')
ain_df.head()

,Name,Category,Data Collection step,Id
0,DailyCallerVideo,Alt-lite,2,UCfDdlNLRVb1h3_7Xh-WhL3w
1,Liberty Machine News,Alt-lite,2,UCso6oQ3qy7z61Fr8b0WNBMw
2,AIU-Resurrection,Alt-lite,2,UCplXdu0g94UynzYCmO2zOjw
3,Tree Of Logic,Alt-lite,2,UCl3RCEtooHD5bhPCHJw3btA
4,DailyKenn,Alt-lite,2,UCbukZErY9SjdGTHabMzY7qg

In [6]:
alt_right_df = ain_df[ain_df['Category']=='Alt-right']
alt_right_df.head()

,Name,Category,Data Collection step,Id
106,AltRight.com,Alt-right,1,UCSTy-H5lSiCcozas32sfJlQ
107,AmRenVideos,Alt-right,1,UCMLbmp5tcLxzahMLTmeM4lg
108,AmRen Podcasts,Alt-right,1,UCyZVnp-_owuoPlzNJNtaxZQ
109,The Reality Calls Show,Alt-right,1,UCmtALVZjXFzb4v3fIXDmDyw
110,Faith J Goldy,Alt-right,1,UClMWnUHbxJKJLUgloN1mPUA

Generating inital videos to watch

In [7]:
# TODO
# Go on these channels, and for the ones that still exist, find some recent videos
# Place them in a list and randomly draw, once for each bot we plan on having belong to this community

In [8]:
test = 'UC_asdc.csv'
test[:2]

'UC'

In [9]:
# From old build_polarizer (see Alex branch of Siqi's Polarizer code)
YOUTUBE_API_SERVICE_NAME = 'youtube'
YOUTUBE_API_VERSION = 'v3'
dev_key_file = '../yt_api_dev_key.txt'
text_file = open(dev_key_file, "r")
DEVELOPER_KEY = text_file.read()
text_file.close()

In [10]:
def check_api_available(cid):
    youtube = build(YOUTUBE_API_SERVICE_NAME, YOUTUBE_API_VERSION, developerKey=DEVELOPER_KEY)
    request = youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=cid
    )
    response = request.execute()
    if response['pageInfo']['totalResults'] == 0:
        return False
    return True

In [11]:
alt_right_ids = []
for cid in alt_right_df['Id']:
    if check_api_available(cid):
        alt_right_ids.append(cid)

In [12]:
d = {'id':alt_right_ids}
df = pd.DataFrame(d)

In [13]:
df.to_csv('ribeiro_alt-right.csv', index=False, header=False)