In [32]:
from googleapiclient.discovery import build
import pandas as pd

In [33]:
DEVELOPER_KEY = ''
YOUTUBE_API_SERVICE_NAME = 'youtube'
YOUTUBE_API_VERSION = 'v3'

In [ ]:
dev_key_file = 'yt_api_dev_key.txt'
DEVELOPER_KEY =

In [34]:
def api_get_channel_id(vid):
    youtube = build(YOUTUBE_API_SERVICE_NAME, YOUTUBE_API_VERSION, developerKey=DEVELOPER_KEY)
    request = youtube.videos().list(
        part="snippet,contentDetails,statistics",
        id=vid
    )
    response = request.execute()
    
    assert len(response['items'])>0
    channel = response['items'][0]['snippet']['channelId']
    return channel

In [35]:
response = api_get_channel_id("Ptelwe26SHk")

In [36]:
results_filepath_prefix = '../results/'
result_filename = 'ER_EL_watch_0.csv'
result_filepath = results_filepath_prefix + result_filename

result_df = pd.read_csv(result_filepath)
result_df.head()

,video_id,rank,component,bot_id,phase,level,time,channel_id,parent_video_id
0,9CdY7t5VKIY,0,homepage,sean.carter.99.test,create,0,2022-03-16 15:52:11.725290,NaN,NaN
1,aOcAqCvH66Q,1,homepage,sean.carter.99.test,create,0,2022-03-16 15:52:11.734259,NaN,NaN
2,hg-HbRIk0xM,2,homepage,sean.carter.99.test,create,0,2022-03-16 15:52:11.742567,NaN,NaN
3,KM36zdNUzZk,3,homepage,sean.carter.99.test,create,0,2022-03-16 15:52:11.750553,NaN,NaN
4,oznAFplzZJA,4,homepage,sean.carter.99.test,create,0,2022-03-16 15:52:11.759086,NaN,NaN

In [37]:
channel_ids = result_df.apply(
    lambda row: 
        row['channel_id'] if (not pd.isna(row['channel_id'])) 
        else api_get_channel_id(row['video_id']),
    axis = 1
)

In [38]:
result_df['channel_id'] = channel_ids

In [39]:
result_df.head()

,video_id,rank,component,bot_id,phase,level,time,channel_id,parent_video_id
0,9CdY7t5VKIY,0,homepage,sean.carter.99.test,create,0,2022-03-16 15:52:11.725290,UC5O114-PQNYkurlTg6hekZw,NaN
1,aOcAqCvH66Q,1,homepage,sean.carter.99.test,create,0,2022-03-16 15:52:11.734259,UCSFEyis_hTphbn3suigLCxg,NaN
2,hg-HbRIk0xM,2,homepage,sean.carter.99.test,create,0,2022-03-16 15:52:11.742567,UCBZN6dwpyWl_WoRxdsLiErg,NaN
3,KM36zdNUzZk,3,homepage,sean.carter.99.test,create,0,2022-03-16 15:52:11.750553,UCXnFys9ZXBE0uyDhKHUi-dA,NaN
4,oznAFplzZJA,4,homepage,sean.carter.99.test,create,0,2022-03-16 15:52:11.759086,UC7sPt5ZKCORuvggr_Sj36NA,NaN

In [40]:
# results_df.to_csv(result_filepath)
result_df.to_csv(results_filepath_prefix + 'test_channels.csv')