In [1]:
import pandas as pd

In [3]:
from io import StringIO

In [2]:
import boto3

In [7]:
s3 = boto3.client('s3')

In [8]:
filepath = 'outputs/2022-05-23/12:41:57/results_timer_none_many-fails.csv'

In [11]:
obj = s3.get_object(Bucket = 'youtube-audit', Key=filepath)

In [12]:
data = obj['Body'].read().decode('utf-8').splitlines()

In [19]:
data = [line.split(',') for line in data]

In [20]:
type(data)

list

In [21]:
data[0]

['video_id',
 'channel_id',
 'rank',
 'component',
 'bot_name',
 'phase',
 'phase_level',
 'level',
 'time']

In [24]:
df = pd.DataFrame(data)

TypeError: DataFrame.__init__() got an unexpected keyword argument 'header'

In [23]:
df.head()

,0,1,2,3,4,5,6,7,8
0,video_id,channel_id,rank,component,bot_name,phase,phase_level,level,time
1,b3VibJRXm8g,UCFMSVWESk5z0K4tcdf7k4Xw,0,homepage,timer_none_many-fails,stain,0,0,2022-05-23 12:39:43.240840
2,CwRvM2TfYbs,UC6jH5GNi0iOR17opA1Vowhw,1,homepage,timer_none_many-fails,stain,0,0,2022-05-23 12:39:43.240855
3,rXMB5WSCVks,UCrMH132hWAcvZu1nL1k7-vA,2,homepage,timer_none_many-fails,stain,0,0,2022-05-23 12:39:43.240858
4,r7b12ZFd0cA,UCLvJmi9YPuxiv1FhSEvb4Gw,3,homepage,timer_none_many-fails,stain,0,0,2022-05-23 12:39:43.240860